body {
    line-height: 30px;
}

.navbar {
    min-height: 60px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.v12bm {
    height: auto;
    width: 100%;
    /*opacity: 0.9;*/
}

.v12tm {
    font-size: 48px;
    position: absolute;
    top: 340px;
    color: black;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

footer {
    background-color: lightgrey;
}

.about-opsclick-video iframe {
    position: relative;
    height: 223px;
}

.row {
    margin: 0;
}

.sol_list ul li {
    background: transparent url("/static/img/bullet.png") no-repeat scroll 0 7px;
    list-style-type: none;
    margin-bottom: 25px;
}

.sol_list li div {
    font-size: 18px;
    font-family: 'proxima_regular';
    padding-left: 30px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img-responsive {
    width: 100%;
}

.social-links {
    padding-bottom: 60px;
}
.social-links span{
    padding-right: 12px;
}
.social-links ul li a {
    background: transparent url("/static/img/social-sprite.png") no-repeat scroll 0 0;
    border: 0 none !important;
    padding: 0 !important;
    float: left;
    margin-right:20px;
}
.social-links ul li a.fb-btn{
    height: 23px;
    width: 12px;
}
.social-links ul li a.twit-btn{
    background-position: -57px -3px;
    height: 23px;
    width: 25px;
}
.social-links ul li a.linkedin-btn{
    background-position: -120px 0;
    height: 24px;
    width: 27px;
}
.social-links ul li a.email-btn{
    background-position: -181px 0;
    height: 25px;
    width: 24px;
}

.footer-area ul {
    list-style: none;
 }

.footer-right-column span {
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    float: left;
}

.nav-footer {
    padding-top: 29px;
    margin: 0;
}

.nav-footer > ul {
	padding-left: 0;
    display: inline-block;
    width: 156px;
    margin-left: 0;
    vertical-align: top;
}

.nav-footer ul li {
    display: inline-block;
}

.project-content .project-info h4, .gform_wrapper label, .gform_wrapper .gfield_description, .footer-area ul, #slidingbar-area ul, .fusion-tabs-widget .tab-holder .news-list li .post-holder a, .fusion-tabs-widget .tab-holder .news-list li .post-holder .meta {
    font-size: 18px;
    line-height: 27px;
}

.nav-footer ul li a {
    border: 0 none !important;
    color: white;
    font-size: 18px;
    margin-right: 38px;
    padding: 0 !important;
    text-transform: capitalize;
}

.ownership a {
    float: left;
    padding: 0 0 0 15px;
}

.nav-pills {
    display: inline-block;
}

#dropdown-menu-home {
	display: none;
}

.uni-box-title {
    bottom: 100px;
    text-align: center;
    min-height: 84px;
    position: relative;
    width: 100%;
    padding: 0px 16px;
}

.uni-box-title a {
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
    text-transform: capitalize;
    padding: 26px 0;
    color: #000 !important;
    width: 100%;
}

.ops-uni-view-more {
    position: relative;
}

.ops-uni-view-more a.ops-viewmore-link {
    color: #fff !important;
    float: left;
    font-size: 30px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 45%;
    width: 100%;
}

.pager li > a {
	overflow: hidden;
	max-height: 40px;
	max-width: 50%;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
