{% extends "base.html" %} {% block main %}
<div class="row">
    <div class="col-md-12 no-padding">
        <h1 style="text-align: center; margin: 40px auto;" class="font-title">Provision your App or Environment in <b><i>1-Click</i></b></h1>
        <div class="col-md-3 no-padding">
            <div class="fusion-column-wrapper"><img class=" wp-image-11053 aligncenter" src="/static/img/11.png" alt="col_1" width="190"></div>
        </div>
        <div class="col-md-3">
            <div class="fusion-column-wrapper"><img class=" wp-image-11054 aligncenter" src="/static/img/12.png" alt="col_2" width="190"></div>
        </div>
        <div class="col-md-3">
            <div class="fusion-column-wrapper"><img class=" wp-image-11055 aligncenter" src="/static/img/13.png" alt="col_3" width="190"></div>
        </div>
        <div class="col-md-3 no-padding">
            <div class="fusion-column-wrapper"><img class="  wp-image-11056 aligncenter" src="/static/img/14.png" alt="col_5" width="190"></div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-offset-1 col-md-10">
        <div class="col-md-3 text-center">
            <a href="/platform" style="text-decoration: none;">
                <div><img src="/static/img/21.png" class="v31bm"></div>
                <span class="font-icon">Platform</span></a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/services" style="text-decoration: none;">
                <div><img src="/static/img/22.png" class="v31bm"></div>
                <span class="font-icon">Services</span></a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/university" style="text-decoration: none;">
                <div><img src="/static/img/23.png" class="v31bm" style="margin: 40px 0 40px 0;"></div>
                <span class="font-icon">University</span></a>
        </div>
        <div class="col-md-3 text-center" style="text-decoration: none;">
            <a href="javascript:void(0);" style="text-decoration: none;">
                <div><img src="/static/img/25.png" class="v31bm" style="margin: 40px 0 40px 0;"></div>
                <span class="font-icon">News</span></a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12" style="padding: 60px 0 20px 0;" id="about-us">
        <h1 style="text-align: center;" class="font-title">About OpsClick</h1>
        <div class="col-md-4 no-lpadding-sm">
            <div class="fusion-column-wrapper">
                <div class="about-opsclick-video">
                    <span class="play3"><p><iframe src="//www.youtube.com/embed/m7YxzghRqvs?rel=0&amp;showinfo=0&amp;enablejsapi=1" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen" id="player_1" style="height: 223px;"></iframe></p></span>
                    <div class="font-content" style="text-align: center;">What is OpsClick?</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 hpadding-8">
            <div class="fusion-column-wrapper">
                <div class="about-opsclick-video">
                    <span class="play3"><p><iframe src="//www.youtube.com/embed/u0jSLZS435c?rel=0&amp;showinfo=0&amp;enablejsapi=1" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen" id="player_2"></iframe><p></span>
                    <div class="font-content" style="text-align: center;">What is 1-Click Automation?</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 no-rpadding-sm">
            <div class="fusion-column-wrapper">
                <div class="about-opsclick-video">
                    <span class="play3"><p><iframe src="//www.youtube.com/embed/0bS23QoiFxg?rel=0&amp;showinfo=0&amp;enablejsapi=1" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen" id="player_3"></iframe></p></span>
                    <div class="font-content" style="text-align: center;">What’s our model?</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding" id="webinar">
    <div class="col-md-12" style="background-color:#f6f6f6;background-attachment:fixed;background-image: url(/static/img/webinars_bg1.jpg);background-position:left top;background-repeat:repeat;border-color:#e5e4e4;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:90px;padding-left:0px;padding-right:0px;padding-top:40px;margin-top: 50px;">
        <div class="col-md-12">
            <h1 style="text-align: center;" class="font-title">Live Webinars</h1>
            <div class="font-content" style="text-align: center; margin-bottom:20px;">We believe in CI/CD - Continuous Improvement through Continuous Discovery.<br>  
            Join us for discussions on emerging trends in Simplifying IT.</div>
        </div>
        <div class="col-md-offset-1 col-md-10 text-center" id="div_signup_webinar">
            <form class="form-horizontal" id="webinar_signup_form" method="post" onsubmit="submit_opsuser(event, this, 'webinar')">
                {% csrf_token %}
                <input type="hidden" name="genre" value="webinar">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3">
                        <input id="id_first_name" name="first_name" placeholder="First Name" type="text" class="form-control" required="">
                    </div>
                    <div class="col-sm-3">
                        <input id="id_last_name" name="last_name" placeholder="Last Name" type="text" class="form-control" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3">
                        <input id="id_email" name="email" placeholder="E-mail address" type="email" class="form-control" required="">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" style="width: 100px;" class="btn btn-success">Sign Up</button>
                    </div>
                </div>
                <div class="error" id="div_error_signup_webinar">
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="col-md-12" style="background-color:#fff;background-attachment:fixed;background-position:top left;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#f6f6f6;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:50px;padding-left:0px;padding-right:0px;padding-top:66px;" id="who-we-are">
        <h1 class="font-title" style="text-align: center; color: #0583b3; margin-bottom: 25px;">OpsClick is a 1-Click Automation Company</h1>
        <div class="font-content" style="text-align: center; line-height: 36px;">Helping enterprises bridge the gap between running IT and transforming IT with Automation Solutions</div>
    </div>
    <div class="col-md-12" style="background-color:#fff;background-attachment:scroll;background-image: url(/static/img/problems_bg.jpg);background-position:center top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#dadada;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:125px;padding-left:0px;padding-right:0px;padding-top:72px;">
        <div class="fusion-column-wrapper" style="padding:15px;">
            <div class="sol_list col-md-7">
                <h1 class="font-title">Challenges</h1>
                <ul>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">It took us 90 days and finally we got the Environment fully provisioned</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">Just automated this for our Data Center, now have to do this again for AWS</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">We have Continuous Integration & Deployment Solutions, <br>but our App teams are still not happy as it’s not “End-to-End”</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">Too much effort and time to coordinate Patching & Upgrades across the enterprise</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">My non-prod environments run all year long even when they are utilized less than 1/3 of the time</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">Lack of consistency across applications and environments creating security & operational complications</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">Tearing down environments and all its dependencies is hard and cumbersome</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">Costs to keep the lights on are too high</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <h1 style="text-align: center;" class="font-title">Hard Choices & Problems</h1>
        </div>
        <div class="col-md-6 no-lpadding-sm">
            <span class="play3"><p><iframe src="//www.youtube.com/embed/Vpq7XG95Od0?rel=0&amp;showinfo=0&amp;enablejsapi=1" width="100%" height="350" frameborder="0" allowfullscreen="allowfullscreen" id="player_4"></iframe></p></span>
            <div class="font-content" style="text-align: center;">Hard Choices</div>
        </div>
        <div class="col-md-6 no-rpadding-sm">
            <span class="play3"><p><iframe src="//www.youtube.com/embed/IIx0zD8zczo?rel=0&amp;showinfo=0&amp;enablejsapi=1" width="100%" height="350" frameborder="0" allowfullscreen="allowfullscreen" id="player_5"></iframe></p></span>
            <div class="font-content" style="text-align: center;">The Problem</div>
        </div>
    </div>
    <div class="col-md-12" style="background-attachment:scroll;background-image: url(/static/img/sol_bg.jpg);background-position:left top;background-repeat:repeat;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:20px;padding-left:0px;padding-right:0px;padding-top:20px;">
        <div class="col-md-6">
            <div class="sol_list">
                <h1 class="font-title">Solutions</h1>
                <ul>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">OpsClick Portal:  For Developers and Managers to Create and Manage Environments for their Applications</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">OpsClick Catalog: A rapidly growing library of Ready to Use, Hardened, Supported, Enterprise Grade Building Blocks and Middleware Components</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">OpsClick Tech Stacks: Ready to use Enterprise Tech Stacks that map to the Standard / Golden Templates you want to drive for your Enterprise</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">OpsClick Blueprints: For your custom/legacy applications leveraging building blocks and Middleware components that can be launched in 1-Click</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">OpsClick Upgrades: 1-Click Solution to Upgrade Building Blocks & Middleware e.g. Oracle 11 g to Oracle 12c</div>
                    </li>
                    <li class="fusion-li-item size-small">
                        <div class="font-content">OpsClick Patching: Managed Service to support continuous Patching of your Application Blueprints or underlying components.</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <span class="play3"><p style="margin-top: 90px;"><iframe src="//www.youtube.com/embed/7P9wdHklysQ?rel=0&amp;showinfo=0&amp;enablejsapi=1" width="100%" height="350" frameborder="0" allowfullscreen="allowfullscreen" id="player_7"></iframe></p></span>
            <div class="font-content" style="text-align: center;">OpsClick Solution</div>
        </div>
    </div>
    <div class="col-md-12 no-padding" style="background-attachment:scroll;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:50px;">
        <div class="col-md-6 no-lpadding-sm">
            <span class="play3"><p><iframe src="//www.youtube.com/embed/ueALKemOAYc?rel=0&amp;showinfo=0&amp;enablejsapi=1" width="100%" height="350" frameborder="0" allowfullscreen="allowfullscreen" id="player_6"></iframe></p></span>
            <div class="font-content" style="text-align: center;">Why VMWare and Puppet?</div>
        </div>
        <div class="col-md-6">
            <h1 class="font-title" style="text-align: center; margin-bottom: 45px;">Why VMWare and Puppet?</h1>
            <div class="col-sm-5">
                <img src="/static/img/vmware.png" class="img-responsive">
            </div>
            <div class="col-sm-6">
                <img src="/static/img/puppet.png" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="col-md-12" style="background-color:#fff;background-attachment:fixed;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#f6f6f6;border-bottom-width: 1px;border-top-width: 1px;border-bottom-style: solid;border-top-style: solid;padding-bottom:100px;padding-left:0px;padding-right:0px;padding-top:60px;" id="partners">
        <h1 class="font-title" style="text-align: center; padding-bottom: 80px;">Partners</h1>
        <div class="col-md-2">
            <img class="img-responsive" src="/static/img/logo_1.jpg" alt="logo_1">
        </div>
        <div class="col-md-2">
            <img class="img-responsive" src="/static/img/logo_2.jpg" alt="logo_2" width="270" height="133">
        </div>
        <div class="col-md-2">
            <img class="img-responsive" src="/static/img/logo_3.jpg" alt="logo_3" width="242" height="133">
        </div>
        <div class="col-md-2">
            <img class="img-responsive" src="/static/img/logo_4.png" alt="logo_4" width="242" height="133">
        </div>
        <div class="col-md-2">
            <img class="img-responsive" src="/static/img/logo_6.jpg" alt="logo_6" width="210" height="125">
        </div>
        <div class="col-md-2">
            <img class="img-responsive" src="/static/img/logo_5.jpg" alt="logo_5" width="202" height="133">
        </div>
    </div>
    <div class="col-md-12" style="background-attachment:scroll;background-image: url(/static/img/quick_reference_bg.jpg);background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;">
        <h1 style="text-align: center; color: #979797;" class="font-title">Quick Reference Guide</h1>
        <div class="col-md-offset-2 col-md-8">
            <img src="/static/img/refrence_book_pic.png" alt="refrence_book_pic" class="img-responsive">
        </div>
        <div class="col-md-offset-1 col-md-10 text-center" id="div_signup_reference">
            <div class="font-content" style="text-align: center; color: #979797; margin-bottom: 24px;">Download the Quick Reference Guide to learn all about OpsClick</div>
            <form class="signup form-horizontal" method="post" onsubmit="submit_opsuser(event, this, 'reference')">
                {% csrf_token %}
                <input type="hidden" name="genre" value="reference">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3">
                        <input id="id_first_name" name="first_name" placeholder="First Name" type="text" class="form-control" required="">
                    </div>
                    <div class="col-sm-3">
                        <input id="id_last_name" name="last_name" placeholder="Last Name" type="text" class="form-control" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3">
                        <input id="id_email" name="email" placeholder="E-mail address" type="email" class="form-control" required="">
                    </div>
                    <div class="col-sm-3">
                        <button style="width: 120px;" type="submit" class="btn btn-success">Download</button>
                    </div>
                </div>
                <div class="error" id="div_error_signup_reference">
                </div>
            </form>        
        </div>
    </div>
    <div class="col-md-12" style="background-color:#f6f4f4;background-attachment:scroll;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:20px;padding-left:0px;padding-right:0px;padding-top:60px;" id="locations">
        <h1 class="font-title" style="text-align: center;">Contact Us</h1>
    </div>
    <div class="shortcode-map fusion-google-map" id="fusion_map_58095fd99a90b" style="height: 600px; width: 100%; position: relative; overflow: hidden;">
    </div>
</div>
<script type="text/javascript" src="/static/js/fusion_map.js"></script>
<script type="text/javascript">
var markers = [];
var counter = 0;

function initMap() {
    jQuery('#fusion_map_58095fd99a90b').fusion_maps({
        addresses: [{
            "address": " Suite 107, 12020 Sunrise Valley Drive, Reston, VA, 20191",
            "infobox_content": " Suite 107, 12020 Sunrise Valley Drive, Reston, VA, 20191",
            "marker": "http:\/\/www.opsclick.com\/wp-content\/plugins\/fusion-core\/images\/avada_map_marker.png",
            "coordinates": false
        }],
        animations: true,
        infobox_background_color: '',
        infobox_styling: 'default',
        infobox_text_color: '',
        map_style: 'custom',
        map_type: 'roadmap',
        marker_icon: 'theme',
        overlay_color: '#a2b7d8',
        overlay_color_hsl: {
            "hue": 153,
            "sat": 41,
            "lum": 74
        },
        pan_control: true,
        show_address: false,
        scale_control: true,
        scrollwheel: false,
        zoom: 14,
        zoom_control: true,
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCVKiPhZEHAN3h8NKMf5bsl5RKwYRcMjM0"></script>
{% endblock %}
