{% extends "base.html" %} {% block main %}
<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-6 no-padding" style="margin-bottom: 20px;">
        <h2 class="font-title-1">What is OpsClick</h2>
        <p class="font-content-1">The 1-Click Automation Platform that allows you to harness the power of 1-Click Automation Framework developed by OpsClick.</p>
        <div style="padding-left: 20px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/catalog/"><span class="glyphicon"></span>Catalog</div>
            <div class="blog_link" data-url="/blog/create-an-account/"><span class="glyphicon"></span>Create an Account</div>
            <!-- <div class="blog_link" data-url="/blog/login/"><span class="glyphicon"></span>Login</div> -->
            <div class="blog_link" data-url="/blog/launcher/"><span class="glyphicon"></span>Launch and Quick Launch</div>
            <div class="blog_link" data-url="/blog/upgrade/"><span class="glyphicon"></span>Upgrade</div>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-4" style="margin-bottom: 12px;">
        <div class="media-text__media"><img src="/static/img/Cloud-Computing.png" alt="" class="size-full img-responsive media-text__image" /></div>
    </div>
</div>
<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-offset-1 col-md-4" style="padding: 25px; ">
        <div class="media-text__media"><img src="/static/img/img10.png" class="size-full img-responsive media-text__image" />
        </div>
    </div>
    <div class="col-md-offset-1 col-md-6" style="margin-bottom: 12px; margin-top: 30px;">
        <h2 class="font-title-1">What is an Environment</h2>
        <p class="font-content-1">An Environment generally refers to a unique instance of the application that contains all underlying components necessary for the application run on a piece of hardware, VM or container. The application itself may sit within an environment, but it is important to understand the distinction between the two.</p>        
        <div style="padding-left: 20px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/what-are-the-types-of-environments/"><span class="glyphicon"></span>Types of Environments</a></div>
            <div class="blog_link" data-url="/blog/ready-to-use-environments/"><span class="glyphicon"></span>Ready to Use Environments</div>
            <div class="blog_link" data-url="/blog/what-are-shared-environments/"><span class="glyphicon"></span>Shared Environments</div>
            <div class="blog_link" data-url="/blog/true-cost-of-a-shared-environment/"><span class="glyphicon"></span>True Cost of a Shared Environments</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 no-padding" style="margin-bottom: 12px;">
        <h2 class="font-title-1">What is Provisioning</h2>
        <div style="padding-left: 20px; margin-bottom: 60px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/what-is-environment-provisioning/"><span class="glyphicon"></span>Environment Provisioning</div>
            <div class="blog_link" data-url="/blog/application-provisioning/"><span class="glyphicon"></span>Application Provisioning</div>            
            <div class="blog_link" data-url="/blog/whats-an-end-to-end-environment/"><span class="glyphicon"></span>End-to-end Environment</div>
        </div>
        <h2 class="font-title-1">What is DevOps</h2>
        <p class="font-content-1">Dev Ops is short for Development Operations.
A person whose job is not to write code but to get it ‘released’, ‘deployed’ or ‘to automate application’s build and deployment processes’, is a DevOps person!  What they do for you is DevOps in a nutshell!</p>
        
        <div style="padding-left: 20px; margin-bottom: 40px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/10-definitions-of-dev-ops/"><span class="glyphicon"></span>10 Definitions of DevOps</div>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-4" style="margin-bottom: 12px;">
        <div class="media-text__media"><img src="/static/img/DevOps-Continuous-Integration.png" class="img-responsive media-text__image" /></div>
    </div>
</div>
<script type="text/javascript" src="/static/js/opsclick.js"></script>
{% endblock %}
