{% extends "base.html" %} {% block main %}
<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-8 no-padding" style="margin-bottom: 20px;">
        <h2 class="font-title-1">What is OpsClick</h2>
        <blockquote style="margin-left: 15px;">
            <p>OpsClick.com is a Free Service offered by OpsClick, the 1-Click Automation company. It allows you to harness the power of 1-Click Automation Framework developed by OpsClick.</p>
        </blockquote>
        <div style="padding-left: 40px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/catalog/"><span class="glyphicon"></span>Catalog</div>
            <div class="blog_link" data-url="/blog/create-an-account/"><span class="glyphicon"></span>Create an Account</div>
            <div class="blog_link" data-url="/blog/login/"><span class="glyphicon"></span>Login</div>
            <div class="blog_link" data-url="/blog/launcher/"><span class="glyphicon"></span>Launch and Quick Launch</div>
            <div class="blog_link" data-url="/blog/oracle-12c-in-1-click/"><span class="glyphicon"></span>Oracle 12c in 1-Click</div>
        </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 12px;">
        <div class="media-text__media"><img src="/static/img/sol_33.png" alt="" class="size-full img-responsive media-text__image" /></div>
    </div>
</div>
<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-4" style="padding: 25px; ">
        <div class="media-text__media"><img src="https://cfl.dropboxstatic.com/static/images/teams/fastrak-rainbow/illo_share_files_securely-vfld5ww1R.png" data-hi-res-no-resize="True" data-hi-res="https://cfl.dropboxstatic.com/static/images/teams/fastrak-rainbow/illo_share_files_securely@2x-vflG9XDJL.png" data-js-component-id="component7706469529077402245" alt="" class="size-full img-responsive media-text__image" />
        </div>
    </div>
    <div class="col-md-8" style="margin-bottom: 12px; margin-top: 30px;">
        <h2 class="font-title-1">What is an Environment</h2>
        <blockquote style="margin-left: 15px;">
            <p>An Environment (for an Application!) generally refers to a unique instance of the application. That is whatever, is needed to make the application run on a piece of hardware or some container. The application itself may sit within an environment, but it is important to understand that they are two distinct things.</p>
        </blockquote>
        <div style="padding-left: 40px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/what-are-the-types-of-environments/"><span class="glyphicon"></span>Types of Environments</a></div>
            <div class="blog_link" data-url="/blog/ready-to-use-environments/"><span class="glyphicon"></span>Ready to Use Environments</div>
            <div class="blog_link" data-url="/blog/what-are-shared-environments/"><span class="glyphicon"></span>Shared Environments</div>
            <div class="blog_link" data-url="/blog/true-cost-of-a-shared-environment/"><span class="glyphicon"></span>True Cost of a Shared Environments</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 no-padding" style="margin-bottom: 12px;">
        <h2 class="font-title-1">Provisioning</h2>
        <div style="padding-left: 40px; margin-bottom: 160px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/what-is-environment-provisioning/"><span class="glyphicon"></span>Environment Provisioning</div>
            <div class="blog_link" data-url="/blog/whats-an-end-to-end-environment/"><span class="glyphicon"></span>End-to-End Provisioning</div>
        </div>
        <h2 class="font-title-1">What is DevOps</h2>
        <blockquote style="margin-left: 15px;">
            <p>The term “Dev Ops” like the term “<a href="http://www.opsclick.com/ready-to-use-environments/" title="Ready to Use Environment" target="_blank">Ready to Use Environment</a>” or “Cloud” can mean different things depending on who’s asking!</p>
        </blockquote>
        <div style="padding-left: 40px; margin-bottom: 40px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/10-definitions-of-dev-ops/"><span class="glyphicon"></span>10 Definitions of DevOps</div>
        </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 12px;">
        <div class="media-text__media"><img src="https://cfl.dropboxstatic.com/static/images/teams/fastrak-rainbow/illo_create_online_documents-vflq7ipOS.png" data-hi-res-no-resize="True" data-hi-res="https://cfl.dropboxstatic.com/static/images/teams/fastrak-rainbow/illo_create_online_documents@2x-vfluD_k4y.png" data-js-component-id="component7706469529077402247" alt="" class="img-responsive media-text__image" /></div>
    </div>
</div>
<script type="text/javascript" src="/static/js/load_blog.js"></script>
{% endblock %}
