{% extends "base.html" %} 
{% block main %}
<div class="row short_page">
<div class="col-md-offset-1 col-md-10">
    <div class="col-md-12 text-center">
        <h1 style="text-align: center; margin: 40px auto;" class="font-title">OpsClick Platform</h1>
    </div>
    <div class="row" style="margin: 80px 0 20px 0;">
        <div class="col-md-2 no-padding">
            <img src="/static/img/section/building blocks.png" class="img-responsive">
            <div class="font-icon-1 text-center">Building Blocks</div>
        </div>
        <div class="col-md-offset-1 col-md-2 no-padding">
            <img src="/static/img/section/common provisioning model.png" class="img-responsive">
            <div class="font-icon-1 text-center">Common Provisioning Model</div>
        </div>
        <div class="col-md-offset-1 col-md-2 no-padding">
            <img src="/static/img/section/service integration.png" class="img-responsive">
            <div class="font-icon-1 text-center">Integrate with your Services</div>
        </div>
        <div class="col-md-offset-1 col-md-2 no-padding">
            <img src="/static/img/section/circle_compass.png" class="img-responsive">
            <div class="font-icon-1 text-center">Blueprint your Apps</div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-2 no-padding">
            <img src="/static/img/section/controls and workflow.png" class="img-responsive">
            <div class="font-icon-1 text-center">Establish Controls / Workflows</div>
        </div>
        <div class="col-md-offset-1 col-md-2 no-padding">
            <img src="/static/img/section/Manage with ease.png" class="img-responsive">
            <div class="font-icon-1 text-center">Manage with Ease</div>
        </div>
        <div class="col-md-offset-1 col-md-2 no-padding">
            <img src="/static/img/section/teardown.png" class="img-responsive">
            <div class="font-icon-1 text-center">Automate Tear Down</div>
        </div>
        <div class="col-md-offset-1 col-md-2 no-padding">
            <img src="/static/img/section/Security.png" class="img-responsive">
            <div class="font-icon-1 text-center">Security</div>
        </div>
    </div>
</div>
</div>
{% endblock %}
