{% extends "base.html" %} 
{% block main %}
<div class="row short_page">
<div class="col-md-offset-1 col-md-10">
<!--     <div class="col-md-12 text-center">
        <h1 style="text-align: center; margin: 40px auto;" class="font-title">Overview</h1>
    </div>
 -->    <div class="row" style="margin: 100px 0 40px 0;">
        <div class="col-md-2">
            <img src="/static/img/section/building blocks.jpeg" class="img-responsive">
            <!-- <div>Get Started with readily Available Building Blocks</div> -->
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/common provisioning model.png" class="img-responsive" style="margin-top: 20px;">
            <!-- <div>Common Provisioning Model</div> -->
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/service integration.png" class="img-responsive">
            <!-- <div>Integrate with your Services</div> -->
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/circle_compass.png" class="img-responsive">
            <!-- <div>Blueprint your Apps </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="/static/img/section/controls and workflow.jpg" class="img-responsive">
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/Manage with ease.png" class="img-responsive">
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/teardown.png" class="img-responsive">
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/Security.png" class="img-responsive">
        </div>
    </div>
</div>
</div>
{% endblock %}
