{% extends "base.html" %} 
{% block main %}
<div class="row short_page">
<div class="col-md-offset-1 col-md-10">
    <div class="row" style="margin: 100px 0 40px 0;">
        <div class="col-md-2"><img src="/static/img/section/swat team.jpg" class="img-responsive"></div>
        <div class="col-md-offset-1 col-md-2"><img src="/static/img/section/devops automation.png" class="img-responsive" style="margin-top: 15px;"></div>
        <div class="col-md-offset-1 col-md-2"><img src="/static/img/section/contanierization.jpg" class="img-responsive" style="margin-top: 10px;"></div>
        <div class="col-md-offset-1 col-md-2"><img src="/static/img/section/Application migration.jpg" class="img-responsive"></div>
    </div>
    <div class="row">
        <div class="col-md-3"><img src="/static/img/section/microservices.png" class="img-responsive" style="margin-top: 8px;"></div>
        <div class="col-md-3"><img src="/static/img/section/datacenter migration.png" class="img-responsive"></div>
        <div class="col-md-2"><img src="/static/img/section/big data.png" class="img-responsive"></div>
    </div>
</div>
</div>
{% endblock %}
