{% extends "base.html" %} 
{% block main %}
<div class="row short_page">
<div class="col-md-offset-1 col-md-10">
    <div class="col-md-12 text-center">
        <h1 style="text-align: center; margin: 40px auto;" class="font-title">OpsClick Services</h1>
    </div>
    <div class="row" style="margin: 80px 0 20px 0;">
        <div class="col-md-2">
            <img src="/static/img/section/swat team.png" class="img-responsive">
            <div class="font-icon-1 text-center">SWAT Team</div>            
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/devops automation.png" class="img-responsive">
            <div class="font-icon-1 text-center">DevOps Automation</div>            
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/contanierization.png" class="img-responsive">
            <div class="font-icon-1 text-center">Containerization</div>            
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="/static/img/section/Application migration.png" class="img-responsive">
            <div class="font-icon-1 text-center">Application Migration</div>            
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <img src="/static/img/section/microservices.png" class="img-responsive">
            <div class="font-icon-1 text-center">Microservices</div>            
        </div>
        <div class="col-md-3">
            <img src="/static/img/section/datacenter migration.png" class="img-responsive">
            <div class="font-icon-1 text-center">Datacenter Migration</div>                        
        </div>
        <div class="col-md-3">
            <img src="/static/img/section/big data.png" class="img-responsive" style="padding: 30px;">
            <div class="font-icon-1 text-center">Big Data</div>            
        </div>
    </div>
</div>
</div>
{% endblock %}
