{% extends "base.html" %} {% block navbar_dropdown_menu %}
<ul class="nav navbar-nav">
    <li><a href="#portal">Portal</a></li>
    <li><a href="#trainings" >Trainings</a></li>
</ul>
{% endblock%} {% block index_main %}
<div class="col-md-12" style="background-attachment:scroll;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;">
    <h1 style="text-align: center;" class="font-title">OpsClick University</h1>
    <div class="font-content" style="text-align: center; margin-bottom: 12px;">A great place to learn about Dev Ops</div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="#" data-target=".graduate-modal" data-toggle="modal"><img class="img-responsive" src="/static/img/Uni_1.jpg" alt="Uni_1"></a>
                </p>
                <div class="font-content uni-box-title"><a href="#" data-target=".graduate-modal" data-toggle="modal">webinars</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="#" data-target=".teach-modal" data-toggle="modal"><img class="img-responsive" src="/static/img/Uni_2.jpg" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="#" data-target=".teach-modal" data-toggle="modal">case studies</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="/live"><img class="img-responsive" src="/static/img/Uni_3.jpg" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="/live">videos</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-view-more">
                <a href="/university"><img class="img-responsive" src="/static/img/view-more.jpg" alt="view-more"></a>
                <a class="ops-viewmore-link font-content" href="/university">whitepapers</a></div>
        </div>
    </div>
</div>
<div class="col-md-12" id="trainings" style="background-attachment:scroll;background-image: url(/static/img/quick_reference_bg.jpg);background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:60px;">
    <h1 class="font-title" style="text-align: center; color: #979797;">Trainings</h1>
    <p style="margin-left: 19px;"><img class="img-responsive" src="/static/img/refrence_book_pic.png" alt="refrence_book_pic"></p>
    <div class="font-content" style="text-align: center; color: #979797; margin-bottom: 20px;">Learn in depth about tools and processes with Opsclick University trainings!</div>
    <div class="col-md-12 text-center">
        <form name="" action="/#wpcf7-f756-p6-o2" method="post" class="form" novalidate="novalidate">
            <div class="form-group">
                <input type="text" class="form-control" name="your-name" value="" placeholder="Name" style="display:inline-block;">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="your-name" value="" placeholder="Email" style="display:inline-block;">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" name="your-name" value="" placeholder="Contact number" style="display:inline-block;">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="your-name" value="" placeholder="Organization" style="display:inline-block;">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="your-name" value="" placeholder="Role" style="display:inline-block;">
            </div>
            <div class="form-group">
                <input class="btn btn-success" type="submit" name="sas-form-submit" value="Get Access now! >>">
            </div>
        </form>
    </div>
</div>
<div class="col-md-12" id="portal" style="background-color:#0082b4;background-attachment:scroll;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:20px;padding-left:0px;padding-right:0px;padding-top:60px;">
    <div class="text-center col-md-12" style="color: #fff;">
        <h1 class="font-title" style="color: white;">Portal</h1>
        <p class="font-content" style="font-size: 24px;">A Self Service Portal for Developers and Managers
            <br> to rapidly create new environments for their applications</p>
    </div>
    <div class="col-md-offset-1 col-md-4" style="padding-top: 60px; color: #fff;">
        <h1 class="font-title" style="color: white;">Catelog</h1>
        <p class="font-content" style="line-height: 32px;">Find or Upload your
            <br> Enterprise COTS
            <br> automations</p>
    </div>
    <div class="col-md-7">
        <img class="img-responsive" src="/static/img/sol_3.png">
    </div>
</div>
{% endblock %}
