{% extends "base.html" %} {% block navbar_dropdown_menu %}
{% endblock%} {% block main %}
<div class="row short_page">
    <h1 style="text-align: center;" class="font-title">OpsClick University</h1>
    <div class="font-content" style="text-align: center; margin-bottom: 12px;">A great place to learn about DevOps</div>
    <div class="col-md-3 no-lpadding-sm">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="/#webinar"><img class="img-responsive" src="/static/img/Uni_1.jpg" alt="Uni_1"></a>
                </p>
                <div class="font-content uni-box-title"><a href="/#webinar">webinars</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 hpadding-8">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="#" data-target=".teach-modal" data-toggle="modal"><img class="img-responsive" src="/static/img/Uni_2.jpg" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="#" data-target=".teach-modal" data-toggle="modal">case studies</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 hpadding-8">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="/videos"><img class="img-responsive" src="/static/img/Uni_3.jpg" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="/videos">videos</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 no-rpadding-sm">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="javascript:void(0);"><img class="img-responsive" src="/static/img/whitepaper.png" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="javascript:void(0);">whitepapers</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
