{% extends "base.html" %} {% block navbar_dropdown_menu %}
<ul class="nav navbar-nav">
    <li><a href="#portal">Portal</a></li>
    <li><a href="#trainings" >Trainings</a></li>
</ul>
{% endblock%} {% block index_main %}
<div class="col-md-12" style="background-attachment:scroll;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border-color:#eae9e9;border-bottom-width: 0px;border-top-width: 0px;border-bottom-style: solid;border-top-style: solid;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;">
    <h1 style="text-align: center;" class="font-title">OpsClick University</h1>
    <div class="font-content" style="text-align: center; margin-bottom: 12px;">A great place to learn about DevOps</div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="#" data-target=".graduate-modal" data-toggle="modal"><img class="img-responsive" src="/static/img/Uni_1.jpg" alt="Uni_1"></a>
                </p>
                <div class="font-content uni-box-title"><a href="#" data-target=".graduate-modal" data-toggle="modal">webinars</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="#" data-target=".teach-modal" data-toggle="modal"><img class="img-responsive" src="/static/img/Uni_2.jpg" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="#" data-target=".teach-modal" data-toggle="modal">case studies</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="/live"><img class="img-responsive" src="/static/img/Uni_3.jpg" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="/live">videos</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="fusion-column-wrapper">
            <div class="ops-uni-boxes">
                <p>
                    <a href="/live"><img class="img-responsive" src="/static/img/whitepaper.png" alt="Uni_1"></a>
                </p>
                <div class="uni-box-title font-content"><a href="/live">whitepapers</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
