{% extends "base.html" %} {% block main %}
<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-8 no-padding" style="margin-bottom: 20px;">
        <h2 class="font-title-1">What is Docker</h2>
        <div style="padding-left: 20px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/docker-101/"><span class="glyphicon"></span>Introduction to Docker</div>
            <div class="blog_link" data-url="/blog/docker-102/"><span class="glyphicon"></span>Docker basics storage and networking</div>
            <div class="blog_link" data-url="/blog/docker-103/"><span class="glyphicon"></span>Dockerizing your infrastructure</div>
            <div class="blog_link" data-url="/blog/docker-201/"><span class="glyphicon"></span>Basics of using Docker run</div>
            <div class="blog_link" data-url="/blog/docker-202/"><span class="glyphicon"></span>Docker tutorial for Java developers</div>
            <div class="blog_link" data-url="/blog/docker-203/"><span class="glyphicon"></span>Setting up a WordPress site using Docker</div>
            <div class="blog_link" data-url="/blog/docker-301/"><span class="glyphicon"></span>Working with Docker and kubernetes for Java Developers</div>
            <div class="blog_link" data-url="/blog/docker-302/"><span class="glyphicon"></span>Docker networking in depth</div>
            <div class="blog_link" data-url="/blog/docker-303/"><span class="glyphicon"></span>Building a microservice using Node.js & Docker</div>

        </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 12px;">
        <div class="media-text__media"><img src="/static/img/docker.jpg" alt="" class="size-full img-responsive media-text__image" /></div>
    </div>
</div>
<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-4" style="padding: 25px; ">
        <div style="margin-top: 70px;"><img src="/static/img/puppet.png" class="size-full img-responsive media-text__image" />
        </div>
    </div>
    <div class="col-md-8" style="margin-bottom: 12px; margin-top: 30px;">
        <h2 class="font-title-1">What is Puppet</h2>
        <div style="padding-left: 20px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/puppet-101/"><span class="glyphicon"></span>Introduction to Puppet</a></div>
            <div class="blog_link" data-url="/blog/puppet-101/"><span class="glyphicon"></span>Introduction to puppet and best practices for first project</a></div>
            <div class="blog_link" data-url="/blog/puppet-101/"><span class="glyphicon"></span>Introduction to working with puppet on Amazon EC2</a></div>
            <div class="blog_link" data-url="/blog/puppet-201/"><span class="glyphicon"></span>Writing puppet manifests</a></div>
            <div class="blog_link" data-url="/blog/puppet-202/"><span class="glyphicon"></span>Automating SSH configuration in 5 minutes with Puppet Enterprise</a></div>
            <div class="blog_link" data-url="/blog/puppet-203/"><span class="glyphicon"></span>Managing windows with Puppet</a></div>
            <div class="blog_link" data-url="/blog/puppet-301/"><span class="glyphicon"></span>Working with Windows PowerShell and Docker</a></div>
            <div class="blog_link" data-url="/blog/puppet-302/"><span class="glyphicon"></span>Managing Apple Macs with Puppet</a></div>
            <div class="blog_link" data-url="/blog/puppet-303/"><span class="glyphicon"></span>Puppet 3.7 installation on RHEL 7</a></div>         
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 no-padding" style="margin-bottom: 12px;">
        <h2 class="font-title-1">Jenkins</h2>
        <div style="padding-left: 20px; margin-bottom: 60px;" class="font-content-1">
            <div class="blog_link" data-url="/blog/jenkins-101/"><span class="glyphicon"></span>Introduction to Jenkins</div>
            <div class="blog_link" data-url="/blog/jenkins-102/"><span class="glyphicon"></span>Setting up Jenkins on Amazon EC2</div>
            <div class="blog_link" data-url="/blog/jenkins-201/"><span class="glyphicon"></span>Integration of Jenkins with Selenium.</div>
            <div class="blog_link" data-url="/blog/jenkins-202/"><span class="glyphicon"></span>Configuration of Jenkins with GIT and Force.com</div>
        </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 12px;">
        <div class="media-text__media"><img src="/static/img/jenkins_image.png" class="img-responsive media-text__image" /></div>
    </div>
</div>
<script type="text/javascript" src="/static/js/opsclick.js"></script>
{% endblock %}
